<style>
.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
</style>

<div class="custom__product-card">
  {%- if card_product.featured_media != blank -%}
    <div class="product-card-img-wrapper img__wrapper">
      {%- assign img_height = card_product.featured_media.width | divided_by: card_product.featured_media.aspect_ratio -%}
  
      {{ card_product.featured_media | image_url: width: 1000 | image_tag:
        height: img_height,
        width: card_product.featured_media.width,
        loading: 'lazy'
      }}
      <div class="carousel" data-flickity='{ "fullscreen": true }'>
        <div class="carousel-cell">A</div>
        <div class="carousel-cell">B</div>
        <div class="carousel-cell">C</div>
        <div class="carousel-cell">D</div>
        <div class="carousel-cell">E</div>
      </div>

      <div class="variants-counter">{{ card_product.variants.size }} Colors</div>
    </div>
    {%- endif -%}
  <div class="product-card-product-title">{{ card_product.title }}</div>
  {% render 'price', product: card_product, show_in_card: true, price_class: 'small-margin-top', show_badges: true %}
</div>