<span class="facets__summary__plus-minus summary-accordion__plus-minus por">
  <span class="facets__summary__icon-line summary-accordion__icon-line"></span>
  <span class="facets__summary__icon-line summary-accordion__icon-line"></span>
</span>