<div class="login-and-register-links">
  <span class="login-link"><a href="/account/login">LOGIN</a></span>
  <span class="seperation-line">|</span>
  <span class="register-link"><a href="/account/register">REGISTER TO CHECKOUT</a></span>
</div>