<div id="video-pdp-container">
    <video controls loop muted>
        <source src="{{ product.metafields.custom.product_image_4_video.value}}" type="video/mp4">
        Your browser does not support the video tag.
        
    </video>
</div>