<svg id="b6f461d7-0039-41bb-86f2-3c23768ccec2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 2000 2000">
  <defs>
    <style>
      .a79f5cbb-1b4f-4e05-829c-da5499465784 {
        fill-rule: evenodd;
      }
    </style>
  </defs>
  <title>PRADA_SVG</title>
  <path class="a79f5cbb-1b4f-4e05-829c-da5499465784"
    d="M192.3,878.7l24.4,26.5v194.5l-18.1,25.5,110.8.2-20-23.5-2-70,106.8.6c32.4-10.5,65.7-32.6,67.3-77.5-.5-43.5-28-71.4-59.9-76.9l-209.3.6Zm91.1,12.4v125l82,.5c18.6-14.5,32.8-25.6,32.2-60.5-.3-28.4-6.5-53.2-33.9-65Z" />
  <path class="a79f5cbb-1b4f-4e05-829c-da5499465784"
    d="M512.8,877.2l24.4,26.6v194.5l-18.1,25.5H629.9L610,1100.5l-2.1-70h.4l114.5,94.2,95.1-.7-86.8-72.4H658.7l-25.5-21,81.6.4c32.4-10.4,65.7-32.6,67.3-77.4-.6-43.5-28.1-71.4-60-76.9l-209.3.5Zm91.1,12.5v124.9l82,.6c18.7-14.5,32.8-25.6,32.3-60.5-.3-28.4-6.5-53.2-34-65Z" />
  <path class="a79f5cbb-1b4f-4e05-829c-da5499465784"
    d="M909.3,877h95.6l124.4,222.7c5.4,17.2,21.5,15.1,32.2,22.7H1041.1l18.1-5.5-1.1-16.6-31.1-48.1-105.8.6-22.6,46.4c-.8,5.3-6.6,9.3-2.3,15.8l8.5,7.9-52-1.1,22.6-6.8,85.4-173.6V929.5l-36.1-46.4L909.3,877Zm18.6,160,43.9-80.3,45.8,79.8-89.7.5Z" />
  <path class="a79f5cbb-1b4f-4e05-829c-da5499465784"
    d="M1555.6,877.4h95.5l124.4,222.8c5.4,17.2,21.5,15.1,32.2,22.6H1687.3l18.1-5.4-1.1-16.6-31.1-48.1-105.8.6-22.6,46.4c-.7,5.2-6.6,9.2-2.3,15.8l8.5,7.9-52-1.1,22.6-6.8L1607,941.9V930l-36.1-46.4-15.3-6.2Zm18.5,160,43.9-80.2,45.8,79.8-89.7.4Z" />
  <path class="a79f5cbb-1b4f-4e05-829c-da5499465784"
    d="M1194.6,874.6l170.2.9c54.8,12.4,89.7,44.8,100.5,101.1l-.4,44c-10,50.3-42.8,84.9-100.5,102.5l-170.7.4v-5.3c25.9-1.9,28-4.7,28-19.6V898.2c-.2-11-2.5-17.8-27.6-18.6l.5-5Zm96.8,17.2-.2,216.8c22.4.1,41.9,2.1,52.9-3.3,25-11,36.5-27.9,37.6-43.7l-.6-128.1c0-20.4-23-34.9-36.3-38.7-9.5-3.4-28.5-3.5-53.4-3Z" />
</svg>