{%- comment -%}
  
<div class="displayColumn">
<div class="productDetails">Product Details</div>
<div class="productDetailsMetafield">Product Code: OO9406-5237</div>
</div>

<div class="displayColumn">
    <p class="productDetailsHeader">FRAME INFORMATION</p>
    <div class="spacerElement"></div>
</div>


<style>
    .angry-grid {
       display: grid; 
    
       grid-template-rows: 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       
       gap: 0px;
       height: 100%;
       
    }
      
    #item-0 {
    
       background-color: #6799AB; 
       grid-row-start: 1;
       grid-column-start: 1;
    
       grid-row-end: 2;
       grid-column-end: 3;
       
    }
    #item-1 {
    
       background-color: #A6D75D; 
       grid-row-start: 2;
       grid-column-start: 1;
    
       grid-row-end: 3;
       grid-column-end: 3;
       
    }
    #item-2 {
    
       background-color: #BCDC6A; 
       grid-row-start: 1;
       grid-column-start: 3;
    
       grid-row-end: 2;
       grid-column-end: 5;
       
    }
    #item-3 {
    
       background-color: #DCD9CE; 
       grid-row-start: 2;
       grid-column-start: 3;
    
       grid-row-end: 3;
       grid-column-end: 5;
       
    }
    </style>
    
    <div class="angry-grid">
      <div id="item-0">&nbsp;</div>
      <div id="item-1">&nbsp;</div>
      <div id="item-2">&nbsp;</div>
      <div id="item-3">&nbsp;</div>
    </div>
    
{%- endcomment -%}
    