<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <style>


  </style>
</head>
<body>

<!-- Trigger button -->
<button class="">Open Modal</button>

<!-- The Modal -->
<div class="modal">
  <div class="modal-content">
    <button type="button" class="modal__close-button link link--text focus-inset flex justify-center align-center close-btnb" aria-label="Close">
      <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
        <use href="#icon-close"></use>
      </svg>
    </button>
    <div class="swiper-container gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img loading="lazy" src="https://hero-sunglasses-store.myshopify.com/cdn/shop/files/21_MICHAELKORSPIC1.png?v=1699311292&width=1324" alt="Image 1"></div>
        <div class="swiper-slide"><img loading="lazy" src="https://hero-sunglasses-store.myshopify.com/cdn/shop/files/21_MICHAELKORSPIC3.png?v=1699052668&width=1324" alt="Image 2"></div>
        <div class="swiper-slide"><img loading="lazy" src="https://hero-sunglasses-store.myshopify.com/cdn/shop/files/21_MICHAELKORSPIC2.png?v=1699051786&width=1324" alt="Image 3"></div>
        <!-- Add more slides as needed -->
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div> 
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>

<!-- Include Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

