<div class="variant-details">
    <div class="variant-details-inner">


      <div class="close flex justify-between">
        <div class="avail-options">
          Available Options:(5)                
          <br>
          <div class="removeIfNoPolarized">
          <span id="filterSlideout">
            Filter by polarized
          </span>
          <div id="filterContainer" class="displayRow">
          <button id="filterAll" class="ignore-effect mimic-button button variantFilter filterPolarized-option">SHOP ALL</button>
          <button style="margin-left:12px;" id="filterPolarized" class="ignore-effect button mimic-button variantFilter">POLARIZED ONLY</button>
          </div>                                    
          </div>
        </div>
        <button type="button" class="modal__close-button link link--text focus-inset flex justify-center align-center" aria-label="Close">
          <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <ul class="list-unstyled flex flex-wrap product-form__input__radio-list flex-column product-form__input__radio-list--color">
        

          <div class="variant-details-container polarized-variant" style="display: block;">
         <li class="border-left-checked"><input type="radio" id="template--21459699138852__main-1-4" name="FRAME" class="product-form__input__radio" value="TRANSPARENT GREY - DARK BLUE - POLARIZED" form="product-form-template--21459699138852__main">

            <label for="template--21459699138852__main-1-4" class="product-form__input__radio-label flex justify-space-between por product-form__input__radio-label--color bt-tooltip color-swatch-own-image" data-color="transparent-grey-dark-blue-polarized">
              
                <div class="figure">
                  <img src="//hero-sunglasses-store.myshopify.com/cdn/shop/files/230_RAYBANPIC1.png?crop=center&amp;height=60&amp;v=1699311901&amp;width=160" alt="TRANSPARENT GREY - DARK BLUE - POLARIZED" width="auto" height="auto">
                  
                    <div class="polarized-variant-image">
<img id="polarized-svg-variant" src="//hero-sunglasses-store.myshopify.com/cdn/shop/t/14/assets/polarized.svg?v=170200276225160882901699996740">
</div>
                   
                </div>
              
              <div class="content" style="text-decoration: none; margin: 0px;">
                <div class="title split-title"><span>FRAME:</span> TRANSPARENT GREY <br><span>LENS:</span> DARK BLUE - POLARIZED
              
              </div>
                <div class="price wp-not-logged-top-wrapper" style="text-decoration: none; margin: 0px;"><span class="hide-price-guest"></span><div class="wp-not-logged-wrapper" style="color: rgb(22, 112, 211); font-size: 14px; border-radius: 8px; background-color: rgb(243, 243, 243);"><p style="font-weight: normal; display: block; white-space: normal; font-size: 14px; color: #1670d3"><strong><a class="wp-login-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/login">Login</a></strong> | <strong><a class="wp-registration-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/register">Register</a></strong> to see price</p></div></div>
                
</div>
            </label>
          </li>
        </div>
        
          <div class="variant-details-container polarized-variant" style="display: block;">
         <li class="border-left-checked"><input type="radio" id="template--21459699138852__main-1-5" name="FRAME" class="product-form__input__radio" value="RUBBER BLACK - GREEN - POLARIZED" form="product-form-template--21459699138852__main">

            <label for="template--21459699138852__main-1-5" class="product-form__input__radio-label flex justify-space-between por product-form__input__radio-label--color bt-tooltip color-swatch-own-image" data-color="rubber-black-green-polarized">
              
                <div class="figure">
                  <img src="//hero-sunglasses-store.myshopify.com/cdn/shop/files/241_RAYBANPIC1.png?crop=center&amp;height=60&amp;v=1699311902&amp;width=160" alt="RUBBER BLACK - GREEN - POLARIZED" width="auto" height="auto">
                  
                    <div class="polarized-variant-image">
<img id="polarized-svg-variant" src="//hero-sunglasses-store.myshopify.com/cdn/shop/t/14/assets/polarized.svg?v=170200276225160882901699996740">
</div>
                   
                </div>
              
              <div class="content" style="text-decoration: none; margin: 0px;">
                <div class="title split-title"><span>FRAME:</span> RUBBER BLACK <br><span>LENS:</span> GREEN - POLARIZED
              
              </div>
                <div class="price wp-not-logged-top-wrapper" style="text-decoration: none; margin: 0px;"><span class="hide-price-guest"></span><div class="wp-not-logged-wrapper" style="color: rgb(22, 112, 211); font-size: 14px; border-radius: 8px; background-color: rgb(243, 243, 243);"><p style="font-weight: normal; display: block; white-space: normal; font-size: 14px; color: #1670d3"><strong><a class="wp-login-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/login">Login</a></strong> | <strong><a class="wp-registration-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/register">Register</a></strong> to see price</p></div></div>
                
</div>
            </label>
          </li>
        </div>
        
          <div class="variant-details-container polarized-variant" style="display: block;">
         <li class="border-left-checked"><input type="radio" id="template--21459699138852__main-1-6" name="FRAME" class="product-form__input__radio" value="BLACK - GREEN - POLARIZED" form="product-form-template--21459699138852__main" checked="checked">

            <label for="template--21459699138852__main-1-6" class="product-form__input__radio-label flex justify-space-between por product-form__input__radio-label--color bt-tooltip color-swatch-own-image" data-color="black-green-polarized">
              
                <div class="figure">
                  <img src="//hero-sunglasses-store.myshopify.com/cdn/shop/files/244_RAYBANPIC1.png?crop=center&amp;height=60&amp;v=1699311901&amp;width=160" alt="BLACK - GREEN - POLARIZED" width="auto" height="auto">
                  
                    <div class="polarized-variant-image">
<img id="polarized-svg-variant" src="//hero-sunglasses-store.myshopify.com/cdn/shop/t/14/assets/polarized.svg?v=170200276225160882901699996740">
</div>
                   
                </div>
              
              <div class="content" style="text-decoration: none; margin: 0px;">
                <div class="title split-title"><span>FRAME:</span> BLACK <br><span>LENS:</span> GREEN - POLARIZED
              
              </div>
                <div class="price wp-not-logged-top-wrapper" style="text-decoration: none; margin: 0px;"><span class="hide-price-guest"></span><div class="wp-not-logged-wrapper" style="color: rgb(22, 112, 211); font-size: 14px; border-radius: 8px; background-color: rgb(243, 243, 243);"><p style="font-weight: normal; display: block; white-space: normal; font-size: 14px; color: #1670d3"><strong><a class="wp-login-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/login">Login</a></strong> | <strong><a class="wp-registration-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/register">Register</a></strong> to see price</p></div></div>
                
</div>
            </label>
          </li>
        </div>
        
          <div class="variant-details-container polarized-variant" style="display: block;">
         <li class="border-left-checked"><input type="radio" id="template--21459699138852__main-1-7" name="FRAME" class="product-form__input__radio" value="MATTE HAVANA - GRADIENT GREEN - POLARIZED" form="product-form-template--21459699138852__main">

            <label for="template--21459699138852__main-1-7" class="product-form__input__radio-label flex justify-space-between por product-form__input__radio-label--color bt-tooltip color-swatch-own-image" data-color="matte-havana-gradient-green-polarized">
              
                <div class="figure">
                  <img src="//hero-sunglasses-store.myshopify.com/cdn/shop/files/246_RAYBANPIC1.png?crop=center&amp;height=60&amp;v=1699311901&amp;width=160" alt="MATTE HAVANA - GRADIENT GREEN - POLARIZED" width="auto" height="auto">
                  
                    <div class="polarized-variant-image">
<img id="polarized-svg-variant" src="//hero-sunglasses-store.myshopify.com/cdn/shop/t/14/assets/polarized.svg?v=170200276225160882901699996740">
</div>
                   
                </div>
              
              <div class="content" style="text-decoration: none; margin: 0px;">
                <div class="title split-title"><span>FRAME:</span> MATTE HAVANA <br><span>LENS:</span> GRADIENT GREEN - POLARIZED
              
              </div>
                <div class="price wp-not-logged-top-wrapper" style="text-decoration: none; margin: 0px;"><span class="hide-price-guest"></span><div class="wp-not-logged-wrapper" style="color: rgb(22, 112, 211); font-size: 14px; border-radius: 8px; background-color: rgb(243, 243, 243);"><p style="font-weight: normal; display: block; white-space: normal; font-size: 14px; color: #1670d3"><strong><a class="wp-login-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/login">Login</a></strong> | <strong><a class="wp-registration-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/register">Register</a></strong> to see price</p></div></div>
                
</div>
            </label>
          </li>
        </div>
        
          <div class="variant-details-container polarized-variant" style="display: block;">
         <li class="border-left-checked"><input type="radio" id="template--21459699138852__main-1-8" name="FRAME" class="product-form__input__radio" value="TORTOISE - GREEN - POLARIZED" form="product-form-template--21459699138852__main">

            <label for="template--21459699138852__main-1-8" class="product-form__input__radio-label flex justify-space-between por product-form__input__radio-label--color bt-tooltip color-swatch-own-image" data-color="tortoise-green-polarized">
              
                <div class="figure">
                  <img src="//hero-sunglasses-store.myshopify.com/cdn/shop/files/250_RAYBANPIC1.png?crop=center&amp;height=60&amp;v=1699311901&amp;width=160" alt="TORTOISE - GREEN - POLARIZED" width="auto" height="auto">
                  
                    <div class="polarized-variant-image">
<img id="polarized-svg-variant" src="//hero-sunglasses-store.myshopify.com/cdn/shop/t/14/assets/polarized.svg?v=170200276225160882901699996740">
</div>
                   
                </div>
              
              <div class="content" style="text-decoration: none; margin: 0px;">
                <div class="title split-title"><span>FRAME:</span> TORTOISE <br><span>LENS:</span> GREEN - POLARIZED
              
              </div>
                <div class="price wp-not-logged-top-wrapper" style="text-decoration: none; margin: 0px;"><span class="hide-price-guest"></span><div class="wp-not-logged-wrapper" style="color: rgb(22, 112, 211); font-size: 14px; border-radius: 8px; background-color: rgb(243, 243, 243);"><p style="font-weight: normal; display: block; white-space: normal; font-size: 14px; color: #1670d3"><strong><a class="wp-login-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/login">Login</a></strong> | <strong><a class="wp-registration-link" onclick="rememberPage(event)" style="color: #1670d3" href="/account/register">Register</a></strong> to see price</p></div></div>
                
</div>
            </label>
          </li>
        </div>
        
      </ul>
    </div>
  </div>