.card--article {
  --content-position: 1.5rem;
  background: transparent;
}

.card--article:not(.card--text):before {
  content: "";
  background: linear-gradient(180deg, rgba(var(--color-background), 0.00) 0%, rgba(var(--color-background), 0.70) 100%);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}

.article-card__image-wrapper.full-link:after {
  z-index: 2;
}

.article-card-radius {
  border-radius: 1.6rem;
}

.article-card__line {
  background-color: rgba(var(--color-foreground),.2);
}

@media screen and (min-width: 750px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

.card--article.card--text {
  justify-content: flex-end;
}

.card__content-article {
  z-index: 1;
  width: 100%;
  background: rgba(51, 51, 51, 0.6);
}

.card__content-article > h3 {
  padding-left: 4rem;
}

.article-card__image-wrapper + .card__content-article {
	position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  padding: 3rem 0;
}

.article-card__footer {
  gap: 1.5rem;
}

.article-card__footer__icon {
  margin-right: 0.7rem;
}

.article__actions {
  z-index: 1;
}

.article__actions__link {
  font-size: 1.3rem;
  gap: 0.5rem;
}

.article__actions__link:hover {
  opacity: 0.7;
}

@media(min-width: 990px) {
  .card--article {
    --content-position: 2.5rem;
  }
}

@media(min-width: 1366px) {
  .article-card__footer--standard {
    column-gap: 2.5rem;
  }
}